*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar{
   background-color: white;
   box-shadow: 2px 2px 20px rgba(223, 223, 223, 0.753);
   border-radius: 30px;
   margin:20px;
   height: 12vh;

   .nav-link{
    color:rgb(94, 37, 148);
    margin:10px;
   }
   .nav-link:hover{
    color:rgb(176, 91, 255);
    border-bottom:2px solid rgb(176, 91, 255);
   }
}

.container h1{
  text-align: center;
  padding: 20px;
}

.container-products{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;

  .card{
    width:320px;
    height: 90vh;
    margin:20px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(234, 212, 255);
    
    .card-img-top{
      height: 200px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .card-title-1{
      color: rgb(94, 37, 148);
    }
    .btn-card{
      background-color: rgb(225, 193, 255);
      color:rgb(94, 37, 148);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      text-decoration: none;
      padding:5px;
    }
    .btn-card:hover{
      background-color: rgb(176, 91, 255);
      color:white;
    }
  }
}

.search-bar{
  .btn-buscar{
    background-color: rgb(94, 37, 148) ;
    color:white;
    padding: 5px 25px;
    border-radius: 20px;
    border: none;
    margin:5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.95rem;
  }
  .btn-buscar:hover{
    background-color: rgb(225, 193, 255);
    color: rgb(94, 37, 148);
  }
  .btn-reset{
    border: none;
    color:rgb(94, 37, 148);
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 0.95rem;
  }
  .btn-reset:hover{
    color:rgb(225, 193, 255);
  }
  input{
    width: 240px;
    border: 1px solid rgb(94, 37, 148);
    border-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 10px;
    font-size: 0.8rem;
  }
}
